@{
    ViewBag.Title = "Careers";
    ViewBag.Message = "new vacancies";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}


<div class="container-fluid company careers">
    <div class="row header clearfix">
        <div>
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 vacancy-wrapper">
                    <div class="vacancy">
                        <h3>Web Designer</h3>
                        <p class="description">We are in love with digital world. We believe that information technology is a key to contemporary business success. In twenty first only those businesses will be on the edge of economical prosperity that utilize recent digital trends.</p>
                        <p class="btn-wrapper"><a href="#">View vacancy</a></p>
                    </div>
                </div>

                <div class="col-md-6 vacancy-wrapper">
                    <div class="vacancy">
                        <h3>Web Designer</h3>
                        <p class="description">We are in love with digital world. We believe that information technology is a key to contemporary business success. In twenty first only those businesses will be on the edge of economical prosperity that utilize recent digital trends.</p>
                        <p class="btn-wrapper"><a href="#">View vacancy</a></p>
                    </div>
                </div>

                <div class="col-md-6 vacancy-wrapper">
                    <div class="vacancy">
                        <h3>Web Designer</h3>
                        <p class="description">We are in love with digital world. We believe that information technology is a key to contemporary business success. In twenty first only those businesses will be on the edge of economical prosperity that utilize recent digital trends.</p>
                        <p class="btn-wrapper"><a href="#">View vacancy</a></p>
                    </div>
                </div>

                <div class="col-md-6 vacancy-wrapper">
                    <div class="vacancy">
                        <h3>Web Designer</h3>
                        <p class="description">We are in love with digital world. We believe that information technology is a key to contemporary business success. In twenty first only those businesses will be on the edge of economical prosperity that utilize recent digital trends.</p>
                        <p class="btn-wrapper"><a href="#">View vacancy</a></p>
                    </div>
                </div>

                <div class="col-md-6 vacancy-wrapper">
                    <div class="vacancy">
                        <h3>Web Designer</h3>
                        <p class="description">We are in love with digital world. We believe that information technology is a key to contemporary business success. In twenty first only those businesses will be on the edge of economical prosperity that utilize recent digital trends.</p>
                        <p class="btn-wrapper"><a href="#">View vacancy</a></p>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
