@{
    ViewBag.Title = "Creed";
    ViewBag.Message = "our values";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}


<div class="container-fluid company creed">
    <div class="row header clearfix">
        <div>
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>COMPANY VALUES</h3>
                <p>FEEDBACK IS A GIFT FOR GROWTH</p>
                <p>BE HONEST TO THE PENNY. INTEGRITY MATTERS!</p>
                <p>KILL YOUR PRIDE TO CONSTANTLY LEARN ANEW</p>
                <p>CARE ABOUT YOUR CRAFT AS A LEGACY</p>
            </div>

            <div class="col-md-12">
                <h3>TEAM VALUES</h3>
                <p>ARTICULATE SOLUTIONS ALONG WITH ISSUES</p>
                <p>SHARE KNOWLEDGE BOLDLY & HUMBLY</p>
                <p>CHALLENGE EACH OTHER FOR PRODUCTIVE FRICTION</p>
                <p>IDEATE, COLLABORATE, EVALUATE, FOR SOMETHING GREATER</p>
            </div>

            <div class="col-md-12">
                <h3>CUSTOMER VALUES</h3>
                <p>DELIVER HIGH QUALITY</p>
                <p>LOVE YOUR CUSTOMER, CARE ABOUT THEIR RESULTS</p>
                <p>FRAME PROBLEMS BEAUTIFULLY TO SOLVE THEM</p>
                <p>RUN FOR DEADLINES TO FINISH STRONG</p>
            </div>
            
        </div>
    </div>
</div>
