@using DigitalLeader.Web.Localization
@model DigitalLeader.ViewModels.ContentViewModel

@{
	ViewBag.Title = Html.Title(Translations.Story_Title);
	Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}

<div class="container-fluid company story">
	<div class="row header clearfix">
		<div>
			<h1>@Translations.Story_Title</h1>
			<h2>@Translations.Story_Subtitle</h2>
		</div>
	</div>
	@Html.Raw(Model.Html)
</div>
