@model DigitalLeader.ViewModels.ContentViewModel


	@{
		ViewBag.Title = "Story";
		ViewBag.Message = "Innovating your business with modern technologies";
		Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
	}


	<div class="container-fluid company story">
		<div class="row header clearfix">
			<div>
				<h1>@ViewBag.Title</h1>
				<h2>@ViewBag.Message</h2>
			</div>
		</div>
		@Html.Raw(Model.Html)
		@*<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-offset-1 logo">
						<img src="~/Content/images/logo.png" />
					</div>
					<div class="col-md-5">
						<h3>Who we are</h3>
						<p>We provide information technology solutions for small and middle businesses who are ready for digital upgrade in their operational, production, marketing, sales and other processes. We help businesses to reach their goals by automating everything that can be automated by means of computer software.</p>
					</div>
					<div class="col-md-10 col-md-offset-1">
						<p>We deal with typical problems of today's businesses: stagnation, scaling, poor online customers experience and low website productivity, routine processes, inefficient resources utilization, control over marketing, sales, employees or the entire business.</p>
						<p>No matter whether your business is in decline or growing, we supply our customers with digital insights that multiply business efficiency and productivity. We love to help our clients to get their businesses up and running, optimized and effective.</p>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<h3>What we do</h3>
						<p>No matter whether your business is in decline or growing, we supply our customers with digital insights that multiply business efficiency and productivity. We love to help our clients to get their businesses up and running, optimized and effective.</p>
					</div>
					<div class="col-md-5">
						<h3>Our vision</h3>
						<p>No matter whether your business is in decline or growing, we supply our customers with digital insights that multiply business efficiency and productivity. We love to help our clients to get their businesses up and running, optimized and effective.</p>
					</div>
					<div class="col-md-12">
						<h3>Where we serve</h3>
						<p class="where-we-serve-sub">We give our services in many countries including USA, Canada, Europe and Australia</p>
						<img src="~/Content/images/company/world-map.png"  />
					</div>
				</div>
			</div>*@
	</div>
