@{
    ViewBag.Title = "Team";
    ViewBag.Message = "our team";
    Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}


<div class="container-fluid company team">
    <div class="row header clearfix">
        <div>
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4 employee">
                    <div class="identity">
                        <img src="~/Content/images/test/trump.png" />
                        <div>
                            <h3>Name Name</h3>
                            <p>Sales manager</p>
                        </div>
                    </div>
                    <div class="experience">
                        <p class="years">5 years in</p>
                        <p class="technologies">software developemnt, marketing, sales, accounting</p>
                    </div>
                </div>

                <div class="col-md-4 employee">
                    <div class="identity">
                        <img src="~/Content/images/test/trump.png" />
                        <div>
                            <h3>Name Name</h3>
                            <p>Sales manager</p>
                        </div>
                    </div>
                    <div class="experience">
                        <p class="years">5 years in</p>
                        <p class="technologies">software developemnt, marketing, sales, accounting</p>
                    </div>
                </div>

                <div class="col-md-4 employee">
                    <div class="identity">
                        <img src="~/Content/images/test/trump.png" />
                        <div>
                            <h3>Name Name</h3>
                            <p>Sales manager</p>
                        </div>
                    </div>
                    <div class="experience">
                        <p class="years">5 years in</p>
                        <p class="technologies">software developemnt, marketing, sales, accounting</p>
                    </div>
                </div>

                <div class="col-md-4 employee">
                    <div class="identity">
                        <img src="~/Content/images/test/trump.png" />
                        <div>
                            <h3>Name Name</h3>
                            <p>Sales manager</p>
                        </div>
                    </div>
                    <div class="experience">
                        <p class="years">5 years in</p>
                        <p class="technologies">software developemnt, marketing, sales, accounting</p>
                    </div>
                </div>

                <div class="col-md-4 employee">
                    <div class="identity">
                        <img src="~/Content/images/test/trump.png" />
                        <div>
                            <h3>Name Name</h3>
                            <p>Sales manager</p>
                        </div>
                    </div>
                    <div class="experience">
                        <p class="years">5 years in</p>
                        <p class="technologies">software developemnt, marketing, sales, accounting</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
