@model DigitalLeader.ViewModels.ServiceViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Html.Title(Model.Title);

}

<div class="container-fluid projects">
	<div class="row header clearfix">
		<div>
			<h1>@Model.Title</h1>			
		</div>
	</div>
	<div class="container">
		<div class="row">			
		</div>
	</div>
</div>
