@import "settings.less";

footer {
    background: @color-grey;
    margin-top: 0px;
    padding: 0 !important;
    color: #fff;
    display: block;
    clear: both;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292929+10,373737+50,292929+95 */
    background: rgb(41,41,41); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(55,55,55,1) 10%, rgba(55,55,55,1) 50%, rgba(41,41,41,1) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(55,55,55,1) 10%,rgba(55,55,55,1) 50%,rgba(41,41,41,1) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(55,55,55,1) 10%,rgba(55,55,55,1) 50%,rgba(41,41,41,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#292929',GradientType=0 ); /* IE6-9 */

    .footer-head {
        background: @color-grey-dark;
        padding: 40px 0 10px;
        margin: 0;

        .brand {
            padding: 10px 40px;

            img {
                width: 100%;
            }
        }

        .message {
            margin-bottom: 20px;
        }
    }

    .footer-body {
        padding: 5px 5px 40px;



        .contacts {
            margin-top: 30px;

            > div {
                h3 {
                    font-size: 14px;
                    margin: 0;
                    text-align: center;
                    line-height: 20px;

                    a {
                        color: #fff;
                    }
                }

                p {
                    text-align: center;
                    font-size: 30px;
                    color: @color-blue;
                    margin: 0 0 5px;
                }
            }
        }

        hr {
            margin: 30px 0 35px;
        }

        .menu {
            padding: 10px 0 0 70px !important;
            margin-bottom: 30px;

            > div {
                padding: 0 !important;
            }

            h3 {
                margin: 0 0 10px;
                text-transform: uppercase;
                font-size: 20px;
            }

            .menu-list {

                li {
                    font-size: 16px;
                    list-style: square;
                    margin-bottom: 5px;

                    a, a:visited, a:active {
                        color: @color-blue;
                        text-decoration: none;
                    }

                    a:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .footer-foot {
        background: @color-grey-light;
        margin: 0;

        .container {
            padding: 0;

            .copyright {
                text-align: center;
                color: #fff;
                font-size: 12px;
                margin-top: 13px;
            }

            .terms {
                text-align: center;
                font-size: 12px;
                margin-top: 13px;

                ul {
                    padding: 0;

                    li {
                        display: inline-block;
                        list-style: none;
                        margin: 0 10px;
                        font-size: 12px;

                        a, a:visited, a:active {
                            color: @color-white;
                            text-decoration: none;
                        }

                        a:hover {
                            color: @color-blue;
                            border-bottom: 1px dashed @color-white;
                        }
                    }
                }
            }

            .top-btn {
                text-align: center;
                margin-top: 7px;

                p {
                    text-align: center;

                    a {
                        i {
                            height: 30px;
                            width: 30px;
                            background: @color-grey;
                            padding: 6px 5px 5px 6px;
                            text-align: center;
                            color: white;
                            border-radius: 100px;
                        }

                        &:hover {
                            i {
                                color: @color-blue;
                                background: @color-grey-dark;
                            }
                        }
                    }
                }
            }

            .language-icon {
                font-size: 20px !important;
                vertical-align: middle;
                margin-top: -4px !important;
            }
        }
    }

    .row > div {
        padding: 0;
    }
}

/*RESPONSIVE*/
@media (max-width: 375px) {
    footer {
        margin-top: 5px;
        padding: 0 !important;
        color: #fff;
        display: block;
        clear: both;

        .footer-head {
            padding: 30px 0 10px;
            margin: 0;

            .brand {
                padding: 10px 10px 20px;

                img {
                    width: 100%;
                }
            }

            .message {
                margin-bottom: 20px;
                text-align: center;
                font-size: 13px;
            }
        }

        .footer-body {
            padding: 5px;

            .contacts {
                margin-top: 15px;

                > div {
                    margin-bottom: 30px;

                    h3 {
                        font-size: 14px;
                        margin: 0;
                        text-align: center;
                        line-height: 20px;

                        a {
                            color: #fff;
                        }
                    }

                    p {
                        text-align: center;
                        font-size: 30px;
                        color: @color-blue;
                        margin: 0 0 5px;
                    }
                }
            }

            hr {
                margin: 50px 0 35px;
            }

            .menu {
                padding: 10px 0 0 0 !important;
                margin-bottom: 30px;
                text-align: center;

                > div {
                    padding: 0 !important;
                }

                h3 {
                    margin: 0 0 10px;
                    text-transform: uppercase;
                    font-size: 20px;
                }

                .menu-list {
                    padding: 0;
                    margin-bottom: 30px;

                    li {
                        font-size: 16px;
                        list-style: none;
                        margin-bottom: 5px;

                        a, a:visited, a:active {
                            color: @color-blue;
                            text-decoration: none;
                        }

                        a:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .footer-foot {
            margin: 0;
            padding: 5px 0 15px;

            .container {
                padding: 0;

                .copyright {
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    margin-top: 13px;
                }

                .terms {
                    text-align: center;
                    font-size: 12px;
                    margin-top: 13px;

                    ul {
                        li {
                            display: inline-block;
                            list-style: none;
                            margin: 0 10px;
                            font-size: 12px;

                            a, a:visited, a:active {
                                color: @color-white;
                                text-decoration: none;
                            }

                            a:hover {
                                color: @color-blue;
                            }
                        }
                    }
                }

                .top-btn {
                    p {
                        a {
                            i {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        .row > div {
            padding: 0;
        }
    }
}
/* xs */
@media (min-width: 376px) and (max-width: 767px) {
    footer {
        margin-top: 5px;
        padding: 0 !important;
        color: #fff;
        display: block;
        clear: both;

        .footer-head {
            padding: 30px 0 10px;
            margin: 0;

            .brand {
                padding: 10px 20% 20px;

                img {
                    width: 100%;
                }
            }

            .message {
                margin-bottom: 20px;
                text-align: center;
                font-size: 13px;
            }
        }

        .footer-body {
            padding: 5px;

            .contacts {
                margin-top: 15px;

                > div {
                    margin-bottom: 30px;

                    h3 {
                        font-size: 14px;
                        margin: 0;
                        text-align: center;
                        line-height: 20px;

                        a {
                            color: #fff;
                        }
                    }

                    p {
                        text-align: center;
                        font-size: 30px;
                        color: @color-blue;
                        margin: 0 0 5px;
                    }
                }
            }

            hr {
                margin: 50px 0 35px;
            }

            .menu {
                padding: 10px 0 0 0 !important;
                margin-bottom: 30px;
                text-align: center;

                > div {
                    padding: 0 !important;
                }

                h3 {
                    margin: 0 0 10px;
                    text-transform: uppercase;
                    font-size: 20px;
                }

                .menu-list {
                    padding: 0;
                    margin-bottom: 30px;

                    li {
                        font-size: 16px;
                        list-style: none;
                        margin-bottom: 5px;

                        a, a:visited, a:active {
                            color: @color-blue;
                            text-decoration: none;
                        }

                        a:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .footer-foot {
            margin: 0;
            padding: 5px 0 15px;

            .container {
                padding: 5px 0;

                .copyright {
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    margin-top: 13px;
                }

                .terms {
                    text-align: center;
                    font-size: 12px;
                    margin-top: 13px;

                    ul {
                        li {
                            display: inline-block;
                            list-style: none;
                            margin: 0 10px;
                            font-size: 12px;

                            a, a:visited, a:active {
                                color: @color-white;
                                text-decoration: none;
                            }

                            a:hover {
                                color: @color-blue;
                            }
                        }
                    }
                }

                .top-btn {
                    p {
                        a {
                            i {
                                font-size: 15px;
                            }

                            &:hover {
                                i {
                                    color: @color-blue;
                                }
                            }
                        }
                    }
                }
            }
        }

        .row > div {
            padding: 0;
        }
    }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    footer {
        margin-top: 10px;
        padding: 0 !important;
        color: #fff;
        display: block;
        clear: both;

        .footer-head {
            padding: 30px 0 10px;
            margin: 0;

            .brand {
                padding: 10px 10px 20px;

                img {
                    width: 100%;
                }
            }

            .message {
                margin-bottom: 20px;
                text-align: left;
                font-size: 13px;
            }
        }

        .footer-body {
            padding: 5px;

            .contacts {
                margin-top: 25px;

                > div {
                    margin-bottom: 0;

                    h3 {
                        font-size: 14px;
                        margin: 0;
                        text-align: center;
                        line-height: 20px;

                        a {
                            color: #fff;
                        }
                    }

                    p {
                        text-align: center;
                        font-size: 30px;
                        color: @color-blue;
                        margin: 0 0 5px;
                    }
                }
            }

            hr {
                margin: 45px 0 35px;
            }

            .menu {
                padding: 10px 0 0 20px !important;
                margin-bottom: 30px;
                text-align: left;

                > div {
                    padding: 0 0 0 20px !important;
                }

                h3 {
                    margin: 0 0 10px;
                    text-transform: uppercase;
                    font-size: 20px;
                }

                .menu-list {
                    padding: 0 0 0 30px;
                    margin-bottom: 30px;

                    li {
                        font-size: 16px;
                        list-style: square;
                        margin-bottom: 5px;

                        a, a:visited, a:active {
                            color: @color-blue;
                            text-decoration: none;
                        }

                        a:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .footer-foot {
            margin: 0;

            .container {
                padding: 0;
                width: 100%;

                .copyright {
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    margin-top: 13px;
                }

                .terms {
                    text-align: center;
                    font-size: 12px;
                    margin-top: 13px;

                    ul {
                        li {
                            display: inline-block;
                            list-style: none;
                            margin: 0 10px;
                            font-size: 12px;

                            a, a:visited, a:active {
                                color: @color-white;
                                text-decoration: none;
                            }

                            a:hover {
                                color: @color-blue;
                            }
                        }
                    }
                }

                .top-btn {

                    p {
                        a {
                            i {
                                font-size: 15px;
                            }

                            &:hover {
                                i {
                                    color: @color-blue;
                                }
                            }
                        }
                    }
                }
            }
        }

        .row > div {
            padding: 0;
        }
    }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* lg */
@media (min-width: 1200px) {
}
