@import "settings.less";

.navbar {
    border: 0;
    background: #fff;
    margin: 0;
    padding: 0;
    /*border-bottom: 1px solid @color-light-blue;*/
    .dropdown.open > .dropdown-menu {
        background-color: @color-dark-blue;
    }

    .header-wrapper {
        width: 100%;
        padding: 10px 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+60,3e3f3f+60,3e3f3f+100 */
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(62,63,63,1) 60%, rgba(62,63,63,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(62,63,63,1) 60%,rgba(62,63,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(62,63,63,1) 60%,rgba(62,63,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3e3f3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        .navbar-header {
            width: 100%;
            float: left;
            margin: 0 !important;

            .branding-container {
                width: 40%;
                padding-top: 5px;
                float: left;

                .logo {

                    img {
                        width: 300px;
                    }
                }
            }


            .main-cta {
                width: 40%;
                padding: 0 0px 0 0;
                float: right;
                text-align: right;

                h1 {
                    line-height: 32px;
                    margin: 0;
                    padding: 0;
                    font-size: 32px;
                    font-weight: normal;
                }

                h2 {
                    line-height: 22px;
                    margin: 0;
                    padding: 5px 0 0 0;
                    font-size: 22px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .call-cta {
                    color: #fff;
                    font-family: 'Orbitron', sans-serif;
                }

                .message-cta {
                    color: #0094ff;
                    /*font-family: @font-main;*/
                    font-family: @open-sans;
                    /*font-family: 'Istok Web', sans-serif;*/
                    /*font-family: 'Orbitron', sans-serif;*/
                    /*font-family: 'Rajdhani', sans-serif;*/
                    /*font-family: 'Roboto Condensed', sans-serif;*/
                    /*font-family: 'Roboto', sans-serif;*/
                    /*font-family: 'Teko', sans-serif;*/
                    /*font-family: 'Viga', sans-serif;*/
                }
            }
        }
    }

    .navigation-wrapper {
        width: 100%;
        background: #363737;
        padding: 5px 0 7px;

        #mainNavLinks {
            width: 100%;
            float: left;

            .navbar-links {
                float: right;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    padding-left: 20px;

                    a {
                        text-transform: uppercase;
                        font-weight: bold;
                        /*letter-spacing: 3px;*/
                        font-size: 12px;
                        text-decoration: none;
                        color: #fff !important;
                        /*font-family: @font-main;*/
                        font-family: @open-sans;
                        /*font-family: 'Istok Web', sans-serif;*/
                        /*font-family: 'Orbitron', sans-serif;*/
                        /*font-family: 'Rajdhani', sans-serif;*/
                        /*font-family: 'Roboto Condensed', sans-serif;*/
                        /*font-family: 'Roboto', sans-serif;*/
                        /*font-family: 'Teko', sans-serif;*/
                        /*font-family: 'Viga', sans-serif;*/
                        &:hover {
                            color: #0094ff !important;
                            background: none !important;
                            transition: color 0.4s;
                        }
                    }
                }
            }
        }
    }
}











/*RESPONSIVE*/
/* xxs */
@media (max-width: 375px) {
    .navbar {
        border: 0;
        background: #fff;
        margin: 0;
        padding: 0;
        /*border-bottom: 1px solid @color-light-blue;*/
        .dropdown.open > .dropdown-menu {
            background-color: @color-dark-blue;
        }

        .header-wrapper {
            width: 100%;
            padding: 10px 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+60,3e3f3f+60,3e3f3f+100 */
            background: #fff; /* Old browsers */
            
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3e3f3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            .navbar-header {
                width: 100%;
                margin: 0 !important;

                .branding-container {
                    padding-top: 5px;
                    float: left;
                    display:block;
                    text-align:center;
                    
                    .logo {
                              width:200px;                 
                        img {
                            width:220px;
                        }
                    }
                }

                .navbar-toggle{
                    width:50px;
                    height:50px;
                    float:right;
                    margin:0;
                    i {
                        font-size:35px;
                    }

                }

                .main-cta {
                    margin-top:10px;
                    display:block;
                    width:initial;
                    padding: 0 0px 0 0;
                    h1 {
                        line-height: 22px;
                        margin: 0;
                        padding: 0;
                        font-size: 32px;
                        font-weight: normal;
                    }

                    h2 {
                        line-height: 22px;
                        margin: 0;
                        padding: 5px 0 0 0;
                        font-size: 22px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .call-cta {
                        width:100%;
                        text-align:left;
                        color: #000;
                        font-family: 'Orbitron', sans-serif;
                        font-size:20px;
                    }

                    .message-cta {
                        color: #0094ff;
                        /*font-family: @font-main;*/
                        font-family: @open-sans;
                        /*font-family: 'Istok Web', sans-serif;*/
                        /*font-family: 'Orbitron', sans-serif;*/
                        /*font-family: 'Rajdhani', sans-serif;*/
                        /*font-family: 'Roboto Condensed', sans-serif;*/
                        /*font-family: 'Roboto', sans-serif;*/
                        /*font-family: 'Teko', sans-serif;*/
                        /*font-family: 'Viga', sans-serif;*/
                    }
                }
            }
        }

        .navigation-wrapper {
            width: 100%;
            background: #363737;
            padding: 5px 0 7px;

            #mainNavLinks {
                width: 100%;
                float: left;

                .navbar-links {
                    float: right;
                    padding: 0;
                    margin: 0;
                    width:100%;
                    font-size:50px;

                    li {
                        list-style: none;
                        display:block;
                        text-align:right;
                        border-bottom:solid black 1px;
                        width:100%;
                        a {
                            text-transform: uppercase;
                            font-weight: bold;
                           /*letter-spacing: 3px;*/
                           font-size:25px;
                            text-decoration: none;
                            color: #fff !important;
                            /*font-family: @font-main;*/
                            font-family: @open-sans;
                            /*font-family: 'Istok Web', sans-serif;*/
                            /*font-family: 'Orbitron', sans-serif;*/
                            /*font-family: 'Rajdhani', sans-serif;*/
                            /*font-family: 'Roboto Condensed', sans-serif;*/
                            /*font-family: 'Roboto', sans-serif;*/
                            /*font-family: 'Teko', sans-serif;*/
                            /*font-family: 'Viga', sans-serif;*/
                            &:hover {
                                color: #0094ff !important;
                                background: none !important;
                                transition: color 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* xs */
@media (min-width: 375px) and (max-width: 767px) {
  
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    
}
/* lg */
@media (min-width: 1200px) {
}
