@using DigitalLeader.Web.Localization
@model DigitalLeader.ViewModels.ContentViewModel

@{
	ViewBag.Title = Html.Title(Translations.Link_TermsOfUse);
	Layout = "~/Views/Shared/_LayoutWithFooter.cshtml";
}


<div class="container-fluid creed">
	<div class="row header clearfix">
		<div>
			<h1>@Translations.Link_TermsOfUse</h1>
		</div>
	</div>
	@Html.Raw(Model.Html)
</div>
