@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Leader  - your best digital solutions provider";
}
<div class="home">
	<div class="container">
		<div class="row">
			<div class="col-md-6 headlines">
				<div class="row">
					<div class="col-md-12 promo-text">
						<h1>Digital solutions for your precious business</h1>
						<p>Everything you need to make your business successful during information technology era</p>
					</div>
					<!-- contacts -->
					<div class="col-md-12 contacts">
						<p>
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<a href="mailto:office@digitalleader.solutions">office@digitalleader.solutions</a>
						</p>
						<p>
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="call:+380961212713">+380961212713</a>
						</p>
						<p class="social-links">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</p>
					</div>
				</div>
			</div>
			<!-- services -->
			<div class="col-md-6 services">
				<div class="row">
					<div class="col-md-6 col-sm-6 item">
						<div>
							<div class="icon">
								<img src="~/Content/Images/Services/consult.svg" />
							</div>
							<hr />
							<div class="title">
								<a href="~/services">Digital <br />Consulting<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 item">
						<div>
							<div class="icon">
								<img src="~/Content/Images/Services/development.svg" />
							</div>
							<hr />
							<div class="title">
								<a href="~/services">Software <br />Development<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 item">
						<div>
							<div class="icon">
								<img src="~/Content/Images/Services/outsourcing.svg" />
							</div>
							<hr />
							<div class="title">
								<a href="~/services">Technology <br />Outsourcing<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 item">
						<div>
							<div class="icon">
								<img src="~/Content/Images/Services/marketing.svg" />
							</div>
							<hr />
							<div class="title">
								<a href="~/services">Digital <br />Marketing<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>