@{
    ViewBag.Title = "Digital Leader";
    ViewBag.Message = "Innovating your business with modern technologies";

    Layout = "~/Views/Shared/_MainPagesLayout.cshtml";
}


<div class="container-fluid company">
    <div class="row header clearfix">
        <div>
            <div>
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 basic-info">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h3><i class="fa fa-building" aria-hidden="true"></i>Who we are</h3>
                            <p>
                                We provide information technology solutions for small and middle businesses who are ready for digital upgrade in their operational, production, marketing, sales and other processes. We help businesses to reach their goals by automating everything that can be automated by means of computer software.
                            </p>
                            <p>
                                We deal with typical problems of today's businesses: stagnation, scaling, poor online customers experience and low website productivity, routine processes, inefficient resources utilization, control over marketing, sales, employees or the entire business.
                            </p>
                            <p>
                                No matter whether your business is in decline or growing, we supply our customers with digital insights that multiply business efficiency and productivity. We love to help our clients to get their businesses up and running, optimized and effective.
                            </p>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h3><i class="fa fa-magic" aria-hidden="true"></i>What we do</h3>
                            <p>Basically, we solve business problems which can be untied with computer technologies. Our company proposes a bunch of modern information technology services including digital consulting, custom software development, information technology outsourcing and digital marketing.</p>
                        </div>
                        <div class="col-md-5">
                            <h3><i class="fa fa-eye" aria-hidden="true"></i>Our vision</h3>
                            <p>We are in love with digital world. We believe that information technology is a key to contemporary business success. In twenty first only those businesses will be on the edge of economical prosperity that utilize recent digital trends. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 countries">
                    <h3 class="center"><i class="fa fa-globe" aria-hidden="true"></i>Where we serve</h3>
                    <p class="text-center">We give our services in many countries including USA, Canada, Europe and Australia</p>
                    <img src="~/Content/Images/Company/world-map.png" />
                </div>

                <div class="col-md-12 tech-focus">
                    <h3 class="center"><i class="fa fa-crosshairs" aria-hidden="true"></i>Our core services</h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="~/services">
                                <img src="~/Content/Images/Services/consult.svg" />
                                <h4>Digital consulting</h4>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="~/services">
                                <img src="~/Content/Images/Services/development.svg" />
                                <h4>Software developemnt</h4>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="~/services">
                                <img src="~/Content/Images/Services/outsourcing.svg" />
                                <h4>IT outsourcing</h4>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="~/services">
                                <img src="~/Content/Images/Services/marketing.svg" />
                                <h4>Digital Marketing</h4>
                            </a>
                        </div>

                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>


@{ Html.RenderAction("Promo", "Home"); }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}