
@{
    ViewBag.Title = "Our Digital Services";
    ViewBag.Message = "Modern info technologoes for your business";
    Layout = "~/Views/Shared/_MainPagesLayout.cshtml";
}

<div class="container-fluid service">
    <div class="row header clearfix">
        <div>
            <div>
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    </div>

    <div class="row main">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 item">
                    <img src="~/Content/Images/Services/consult.svg" />
                    <hr />
                    <h3>Digital <br />Consulting</h3>
                    <hr />
                    <p>Everybody and everything is online nowadays. Digital Consulting helps to identify why, how, where and when your business should exists digitally. Digital means everything connected to online: websites, mobile phones, computers, networks, communication devices and software and many more communicational means of information sharing. By utilizing Digital Consultancy businesses get automated and thus highly effective</p>

                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Software consulting</h5>
                            <p>Give your business the best of technologies</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Competitive reserch</h5>
                            <p>Keep an eye on your competitiors online</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Digital Strategy</h5>
                            <p>Be prepared to leverage all the benefits of digital tools</p>
                        </a>
                    </div>
                    @*<a href="#" class="btn">Learn more</a>*@
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <img src="~/Content/Images/Services/development.svg" />
                    <hr />
                    <h3>Software <br />Development</h3>
                    <hr />
                    <p>This is a possible way of your business evolution. Software development is the process of  software applications creation and maintenance resulting in a software product. The aim of the software product is to automate entire business or its specific processes to reduce consumption of resources such as time, employees, money and so on. On the other hand, your business might already use some some software that needs customization to fit its needs.</p>

                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Web applications</h5>
                            <p>Solve problems and create new oppurtunities</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Websites</h5>
                            <p>Get new cutomers and retain the old ones</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Mobile applications</h5>
                            <p>Solutions that are always in hand</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Enterprise systems</h5>
                            <p>Simple software for complex business</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>CMS customization</h5>
                            <p>Enhance existing solutions</p>
                        </a>
                    </div>

                    @*<a href="#" class="btn">Learn more</a>*@
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <img src="~/Content/Images/Services/outsourcing.svg" />
                    <hr />
                    <h3>IT Services <br />Outsourcing</h3>
                    <hr />
                    <p>IT outsourcing is the way of use of external information technology service provider to effectively deliver IT-enabled business process and infrastructure solutions for its client. It includes many information technology services such as software as a service and cloud services. Your enterprise can benefit by delegating IT related processes to information technology outsourcing company. Those benefits include costs reduction, marketing life cycle acceleration, and external expertise, assets and intellectual property exploitation.</p>

                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Software infrastructure</h5>
                            <p>We'll take care of your in-house software</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Cloud management</h5>
                            <p>All your data is safe and sound in the digital cloud</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Software as a Service</h5>
                            <p>You won't buy any software, only pay when you use it</p>
                        </a>
                    </div>
                    @*<a href="#" class="btn">Learn more</a>*@
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <img src="~/Content/Images/Services/marketing.svg" />
                    <hr />
                    <h3>Digital <br />Marketing</h3>
                    <hr />
                    <p>This is the most important method of marketing your products in today's economy. The volume of sales made via Internet or digital devices increases with every day.  Digital Marketing consists of many modern methodologies and techniques, which if used and performed properly can sky rocket your business revenues. Friendly saying, if you don't do Digital Marketing or do it badly, your businesses becomes dead very soon in the severe ocean of competition.</p>

                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Marketing strategy</h5>
                            <p>Reach your customers precisly and fastly</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Analytics & optimization</h5>
                            <p>Tune your digital marketing channels to be effective</p>
                        </a>
                    </div>
                    <div class="specific-wrapper">
                        <a href="" class="specific">
                            <h5>Content marketing</h5>
                            <p>Give value to your customers</p>
                        </a>
                    </div>
                    
                    @*<a href="#" class="btn">Learn more</a>*@
                </div>
            </div>


        </div>
    </div>
</div>


@{ Html.RenderAction("Promo", "Home"); }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}