@model IEnumerable<SelectListItem>

<ul class="services-filter">
	<li>
		<a href="@Url.Action("Index", "Blogpost")">All</a>
	</li>
	@foreach (var srv in Model)
	{
		srv.Selected = srv.Value == Request.QueryString.Get("serviceId");
		<li class="@(srv.Selected ? "selected" : "")">
			<a href="@Url.Action("Index", "Blogpost", new { serviceId = srv.Value })">@srv.Text</a>
		</li>
	}
</ul>