@model DigitalLeader.ViewModels.BlogpostViewModel

@*Redisign it at all!*@

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>BlogpostViewModel</h4>
	<hr />
	<div>@Html.Raw(Model.Content)</div>
</div>
