
@{
        var routeDictionaryUA = new RouteValueDictionary(ViewContext.RouteData.Values);
        routeDictionaryUA["culture"] = "uk";

        var routeDictionaryEng = new RouteValueDictionary(ViewContext.RouteData.Values);
        routeDictionaryEng["culture"] = "en";
    }
   <li> <a href="@Url.RouteUrl(routeDictionaryUA)">ua</a></li>
   <li><a href="@Url.RouteUrl(routeDictionaryEng)">eng</a></li>
